<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; Helpy</p>
    <p>Want to learn more? <a href="https://covid-global-hackathon.devpost.com" target="_blank">Visit the homepage of Facebook COVID-19 Online Hackathon</a>.</p>
  </div>
</footer>
