extends index

block append content
  .container
    hr
    h1 List of Jobs
    hr
    div.card(style='width: 18rem;')
      img.card-img-top(src='https://via.placeholder.com/150', alt='Card image cap')
      div.card-body
        h5.card-title Card title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        a.btn.btn-primary(href='#') Go somewhere
    div
      #jobs.row
  #editJobModal.modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Do it!
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#editForm(method='POST')
            .form-group
              label(for='ISBN') ISBN
              input#isbn.form-control(name='isbn')
            .form-group
              label(for='Title') Title
              input#title.form-control(name='title')
            // Other fields
            button.btn.btn-primary(type='submit') Submit
  // Our JS file
  script(src='jobs-list.js')